{% extends 'base.html'%}
{% load static %}
{% block content %}
<div>

      
            <div class="card" style="width: 18rem;">
                <form method="POST" action="{% url 'logout' %}">
                  {% csrf_token %}
        <img src="{% if user.image %}{{user.image}}{% endif %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{user.username}}</h5>
          <p class="card-text">{{user.email}}</p>
          <button class="btn btn-primary">Log Out</button></form>
        </div>
      </div>
      
</div>
{% endblock content %}